@media screen and (min-width: 320px) {
    .container {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Advantages section 320 */
    .advantage-border-icons {
        display: none;
    }
    .advantage-list {
        gap: 72px;
    }
    .advantage-title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* Advantages section 768 */
    .advantage-list {
        gap: 72px 24px;
    }
    .advantage-list-item {
        width: calc((100% - 24px) / 2);
    }
    .advantage-border-icons {
        display: none;
    }
    .advantage-title {
        text-align: start;
    }

    /* Team section 768 */
    .team-list {
        gap: 64px 24px;
    }
    .team-list-item {
        width: 264px;
    }

    /* Portfolio section 768 */
    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        }
    
    /* Advantage section 1158 */
    .advantage-list-item {
        width: calc((100% - 72px) / 4);
    }
    .advantage-border-icons {
        display: flex;
    }

    /* Team section 1158*/
    .team-list-item {
        width: calc((100% - 72px) / 4);
    }

    /* Portfolio section 1158 */
    .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}
