@media screen and (min-width: 320px) {
    .container {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Header 320*/
    .container-header {
        position: relative;
    }
    .nav-list {
        display: none;
    }
    .header-address {
        display: none;
    }
    .logo-header {
        margin-top: 17.5px;
        margin-bottom: 17.5px;
    }
    .button-menu {
        position: absolute;
        top: 16px;
        right: 16px;
    }
    /* Hero section 320*/
    .hero-section {
        padding: 72px 0 72px;
    }
    .hero-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        padding: 0;
        margin-bottom: 72px;
    }
    /* Advantages section 320 */
    .section {
        padding: 96px 0;
    }
    .advantage-border-icons {
        display: none;
    }
    .advantage-list {
        gap: 72px;
    }
    .advantage-title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }
    /* Team section 320 */
    /* Portfolio section 320 */
    /* Footer section 320 */
    .footer-section {
        padding: 96px 0;
    }
    .help-container {
        display: block;
    }
    .box-logo {
        margin: 0 auto;
        margin-bottom: 72px;
    }
    .logo-footer {
        margin-bottom: 17.5px;
    }
    .box-socials {
        margin-right: 0;
        margin-bottom: 72px;
        text-align: center;
    }
    .footer-text {
        max-width: 100%;
    }
    .footer-socials-list {
        justify-content: center;
    }
    .subscribe-form {
        display: block;
    }
    .social-media-text {
        text-align: center;
    }
    .email-field {
        width: 288px;
        height: 40px;
        margin-bottom: 16px;
    }
    .button-subscribe {
        margin: 0 auto;
    }

    /* Modal */
    .modal {
        width: 288px;
        min-height: 623px;
        padding: 72px 16px 16px 16px;
    }
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
    /* Header 768*/
    .container-header {
        display: flex;
    }
    .logo-header {
        margin-top: 25.5px;
        margin-bottom: 25.5px;
        margin-right: 120px;
    }
    .nav-list {
        display: flex;
        margin-right: 120px;
    }
    .header-address {
        display: block;
        align-items: center;
        justify-content: center;
        padding: 16px 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.04em;
    }
    .first-link {
        padding-bottom: 12px;
    }
    .button-menu {
        display: none;
    }
    /* Hero section 768px*/
    .hero-section {
        padding: 112px 0 112px;
    }
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
        max-width: 496px;
    }
    /* Advantages section 768px */
    .advantage-section {
        padding: 96px 0;
    }
    .advantage-list {
        gap: 72px 24px;
    }
    .advantage-list-item {
        width: calc((100% - 24px) / 2);
    }
    .advantage-border-icons {
        display: none;
    }
    .advantage-title {
        text-align: start;
    }
    /* Team section 768px */
    .team-section {
        padding: 96px 0;
    }
    .team-list {
        gap: 64px 24px;
    }
    .team-list-item {
        width: 264px;
    }
    /* Portfolio section 768px */
    .portfolio-list {
        gap: 72px 24px;
    }
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
    /* Footer section 768px */
    .footer-section {
        padding: 96px;
    }
    .help-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding: 0;
        margin: 0 auto;
    }
    .box-logo {
        width: 264px;
        padding: 0;
        margin: 0;
    }
    .logo-footer {
        justify-content: start;
    }
    .box-socials {
        margin-bottom: 0;
    }
    .social-media-text {
        text-align: start;
        margin-bottom: 16;
    }
    .subscribe-form {
        display: flex;
        gap: 24px;
    }
    .email-field {
        width: 264px;
        height: 40px;
    }
}



@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        }

    /* Header 1158px */
    .logo {
        margin-top: 25.5px;
        margin-bottom: 25.5px;
        margin-right: 76px;
    }
    .header-address {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        padding: 24px 0;
        font-size: 16px;
    }
    .first-link {
        padding: 0;
    }
    .button-menu {
        display: none;
    }
    
    /* Hero section 1158px */
    .hero-section {
        padding: 112px 0 112px;
    }
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        padding-bottom: 36px;
        max-width: 496px;
    }

    /* Advantage section 1158px */
    .advantage-list-item {
        width: calc((100% - 72px) / 4);
    }
    .advantage-border-icons {
        display: flex;
    }

    /* Team section 1158px*/
    .team-list-item {
        width: calc((100% - 72px) / 4);
    }

    /* Portfolio section 1158px */
    .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

    /* Footer 1158px */
    .footer-section {
        padding: 100px 0;
    }
    .help-container {
        display: flex;
        gap: 0;
        align-items: baseline;
        justify-content: start;
    }
    .box-logo {
        margin-right: 100px;
    }
    .box-socials {
        margin-right: auto;
    }
}